html{

}

body{
background-color: #ebf5ee;
}


.price-card {
    max-width: 30%;
}

.desc {
    font-family: 'Lato', sans-serif;
}

h2 {
font-size: 25px;
}

footer{
    padding: 2rem 1rem 3rem !important;
}

#hero {
    padding: 40px;
}

#video {
    padding: 45px;
}

#pricing {
    padding:20px;
}

